<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required; length(~30)" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-table" class="control-label col-xs-12 col-sm-2">{:__('Table')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-table" data-rule="required; length(5~20); tablename" class="form-control" name="row[table]" readonly="" type="text" value="{$row.table}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-channeltpl" class="control-label col-xs-12 col-sm-2">{:__('Channeltpl')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-channeltpl" data-rule="required; length(5~30)" class="form-control selectpage" name="row[channeltpl]" data-source="cms/ajax/get_template_list" data-params='{"type":"channel"}' data-primary-key="name" data-field="name" type="text" value="{$row.channeltpl}" placeholder="自定义模板文件必须以channel开头">
        </div>
    </div>
    <div class="form-group">
        <label for="c-listtpl" class="control-label col-xs-12 col-sm-2">{:__('Listtpl')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-listtpl" data-rule="required; length(5~30)" class="form-control selectpage" name="row[listtpl]" data-source="cms/ajax/get_template_list" data-params='{"type":"list"}' data-primary-key="name" data-field="name" type="text" value="{$row.listtpl}" placeholder="自定义模板文件必须以list开头">
        </div>
    </div>
    <div class="form-group">
        <label for="c-showtpl" class="control-label col-xs-12 col-sm-2">{:__('Showtpl')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-showtpl" data-rule="required; length(5~30)" class="form-control selectpage" name="row[showtpl]" data-source="cms/ajax/get_template_list" data-params='{"type":"show"}' data-primary-key="name" data-field="name" type="text" value="{$row.showtpl}" placeholder="自定义模板文件必须以show开头">
        </div>
    </div>
    <div class="form-group tf tf-channel tf-list">
        <label for="c-syncconfig" class="control-label col-xs-12 col-sm-2">{:__('模板同步')}:</label>
        <div class="col-xs-12 col-sm-4">
            <div style="margin-top:5px;"><label for="syncconfig" style="font-weight:normal;"><input type="checkbox" name="row[syncconfig]" value="1" id="syncconfig"/> 同步模板至栏目</label></div>
            <div data-favisible="syncconfig=1" class="hidden">
                <div class="alert alert-warning-light">
                    <b>温馨提示</b><br>
                    请选择需要同步修改的栏目，选择后将同步<code>栏目页模板</code>、<code>列表页模板</code>、<code>详情页模板</code>至所选栏目
                    <p class="mt-2">
                        <select name="row[syncchannel]" id="syncchannel" multiple class="selectpicker form-control">
                            {foreach name="channelList" id="item"}
                            <option value="{$item.id}">{$item.name}</option>
                            {/foreach}
                        </select>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
